<h1>File Upload Here</h1>

<form method="POST" action="/hospital" enctype="multipart/form-data">
	<input type="file" name="file" />
	<input type="submit" value="Upload" />
</form>

<% if(fileIsUploaded.isUploaded) { %>
        <h3>File Uploaded</h3>
<% } else if(fileIsUploaded.err) { %>
        <h3>There was a problem uploading your file. Please try again.</h3>
<% } %>




