<%- include("partials/header") -%>

<section class="hero">
	<div class="hero-content">
		<h1 class="hero-title">Health Zone</h1>

		<h2 class="hero-subtitle">
			All your health records in one place. Safe and Secure!
		</h2>

		<button type="button" class="btn btn-lg btn-danger sign-in-button">
			Sign In
		</button>
	</div>
</section>

<%- include("partials/footer") -%>
