body {
    margin: 0;
    padding: 0;
 }
 .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/doctor-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
 }
 .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
 }

